In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
nba=pd.read_csv("nba_2013.csv")
nba.head(3)

         player pos  age bref_team_id   g  ...  tov   pf  pts     season  season_end
0    Quincy Acy  SF   23          TOT  63  ...   30  122  171  2013-2014        2013
1  Steven Adams   C   20          OKC  81  ...   71  203  265  2013-2014        2013
2   Jeff Adrien  PF   27          TOT  53  ...   39  108  362  2013-2014        2013

[3 rows x 31 columns]

In [7]:
nba.shape

(481, 31)

In [9]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 31 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   player        481 non-null    object
 1   pos           481 non-null    object
 2   age           481 non-null    int64
 3   bref_team_id  481 non-null    object
 4   g             481 non-null    int64
 5   gs            481 non-null    int64
 6   mp            481 non-null    int64
 7   fg            481 non-null    int64
 8   fga           481 non-null    int64
 9   fg.           479 non-null    float64
 10  x3p           481 non-null    int64
 11  x3pa          481 non-null    int64
 12  x3p.          414 non-null    float64
 13  x2p           481 non-null    int64
 14  x2pa          481 non-null    int64
 15  x2p.          478 non-null    float64
 16  efg.          479 non-null    float64
 17  ft            481 non-null    int64
 18  fta           481 non-null    int64
 19  ft.           461 non-null    float64
 20  orb           481 non-null    int64
 21  drb           481 non-null    int64
 22  trb           481 non-null    int64
 23  ast           481 non-null    int64
 24  stl           481 non-null    int64
 25  blk           481 non-null    int64
 26  tov           481 non-null    int64
 27  pf            481 non-null    int64
 28  pts           481 non-null    int64
 29  season        481 non-null    object
 30  season_end    481 non-null    int64
dtypes: float64(5), int64(22), object(4)
memory usage: 116.6+ KB

In [10]:
nba.isnull().sum()

player           0
pos              0
age              0
bref_team_id     0
g                0
gs               0
mp               0
fg               0
fga              0
fg.              2
x3p              0
x3pa             0
x3p.            67
x2p              0
x2pa             0
x2p.             3
efg.             2
ft               0
fta              0
ft.             20
orb              0
drb              0
trb              0
ast              0
stl              0
blk              0
tov              0
pf               0
pts              0
season           0
season_end       0
dtype: int64

In [16]:
nba.dtypes

player           object
pos              object
age               int64
bref_team_id     object
g                 int64
gs                int64
mp                int64
fg                int64
fga               int64
fg.             float64
x3p               int64
x3pa              int64
x3p.            float64
x2p               int64
x2pa              int64
x2p.            float64
efg.            float64
ft                int64
fta               int64
ft.             float64
orb               int64
drb               int64
trb               int64
ast               int64
stl               int64
blk               int64
tov               int64
pf                int64
pts               int64
season           object
season_end        int64
dtype: object

In [13]:
nba['fg.'].fillna(nba['fg.'].median(),inplace=True)

In [17]:
nba['x3p.'].fillna(nba['x3p.'].median(),inplace=True)

In [18]:
nba['x2p.'].fillna(nba['x2p.'].median(),inplace=True)

In [19]:
nba['efg.'].fillna(nba['efg.'].median(),inplace=True)

In [20]:
nba['ft.'].fillna(nba['ft.'].median(),inplace=True)

In [21]:
nba.isnull().sum()

player          0
pos             0
age             0
bref_team_id    0
g               0
gs              0
mp              0
fg              0
fga             0
fg.             0
x3p             0
x3pa            0
x3p.            0
x2p             0
x2pa            0
x2p.            0
efg.            0
ft              0
fta             0
ft.             0
orb             0
drb             0
trb             0
ast             0
stl             0
blk             0
tov             0
pf              0
pts             0
season          0
season_end      0
dtype: int64

In [23]:
nba['pos'].unique()

array(['SF', 'C', 'PF', 'SG', 'PG', 'G', 'F'], dtype=object)

In [25]:
nba['pos'].value_counts()

SG    109
SF     99
PF     96
C      90
PG     85
G       1
F       1
Name: pos, dtype: int64

In [26]:
new_pos=pd.get_dummies(nba['pos'],prefix='pos',drop_first=True)
new_pos

     pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0        0      0       0       0       1       0
1        0      0       0       0       0       0
2        0      0       1       0       0       0
3        0      0       0       0       0       1
4        0      0       0       0       0       0
..     ...    ...     ...     ...     ...     ...
476      0      0       0       0       0       1
477      0      0       0       0       0       1
478      0      0       1       0       0       0
479      0      0       0       0       0       0
480      0      0       0       0       0       0

[481 rows x 6 columns]

In [27]:
nba.drop('pos',axis=1,inplace=True)

In [38]:
nba.drop('player',axis=1,inplace=True)

In [44]:
nba.drop('bref_team_id',axis=1,inplace=True)

In [49]:
nba.drop('season',axis=1,inplace=True)

In [50]:
df=pd.concat([nba,new_pos],axis=1)
df.head(3)

   age   g  gs    mp   fg  fga  ...  pos_F  pos_G  pos_PF  pos_PG  pos_SF  pos_SG
0   23  63   0   847   66  141  ...      0      0       0       0       1       0
1   20  81  20  1197   93  185  ...      0      0       0       0       0       0
2   27  53  12   961  143  275  ...      0      0       1       0       0       0

[3 rows x 33 columns]

In [51]:
X=df.drop('pts',axis=1)
y=df['pts']

In [52]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [53]:
from sklearn.neighbors import KNeighborsRegressor
knr=KNeighborsRegressor()
knr.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [55]:
knr.score(X_test,y_test)

0.979922202735713

In [56]:
y_pred=knr.predict(X_test)

In [57]:
difference=pd.DataFrame({'Actual':y_test.tolist(),'Predict':y_pred.tolist()})
difference.head(10)

   Actual  Predict
0     587    610.2
1      89     80.8
2     350    331.0
3    1417   1350.6
4    1071   1161.4
5     338    303.8
6      54     63.8
7     879    805.2
8     225    255.0
9     298    342.8

In [58]:
from sklearn.metrics import mean_squared_error
print({'MSE':mean_squared_error(y_test,y_pred)})

{'MSE': 3485.4837113402054}

In [60]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_scaled=sc.fit_transform(X)

In [61]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=42)

In [63]:
knr_scaled = KNeighborsRegressor()
knr_scaled.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [64]:
knr_scaled.score(X_test,y_test)

0.9660238471087537